DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hosmedai
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password
JWT_SECRET=replace-with-at-least-32-random-characters
ADMIN_USERNAME=hosmedaiwebadmin
ADMIN_PASSWORD=set-only-while-running-npm-run-db-init
PORT=3000
